---
title: Home
description: Winer Pub
image: http://blogfiles.naver.net/20111114_43/amyan_1321264278203jwPJb_JPEG/%B2%C9%B6%F3%B8%E9_5%C8%AD_%C1%A4%C0%CF%BF%EC_%C3%BB%BC%D2%BA%CE_3.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<meta charset="utf-8">

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">뉴스크린띠</h1>
			<p class="subtext editable">clean</p>
			<div class="cta button alt"><a href="#">상담 </a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">더많은 정보<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">엄청난 청소력</h2>
				<p class="editable">엄청난 청소기</p>
			</div>
			<div class="image">
				<img class="editable" src="http://blogfiles.naver.net/20150416_181/kclcfm_14291698828701nBGW_PNG/%C4%AB%C6%EA%C3%BB%BC%D2%B1%E2.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">엄청난 걸레</h2>
				<p class="editable">모든걸 흡입합니다</p>
			</div>
			<div class="image">
				<img class="editable" src="http://shop1.phinf.naver.net/20190601_33/kathy0125_1559380566340pSBMs_PNG/42099425184265581_1566941676.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">엄청난 회사</h2>
				<p class="editable">이태원클라스급!!</p>
			</div>
			<div class="image">
				<img class="editable" src="http://blogfiles.naver.net/MjAyMDAyMjVfMTA3/MDAxNTgyNTk2MzU2Mzcw._hmmqv738jgFSjVr2ENzjEk37Q9_EEY4PJwsJsVZWqYg.Ph9JcqMFvlQ_tsLnxRzw3aGHQQmgu43jCx82blRHCigg.JPEG.answodnr12/IMG_6164.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">한스 클린에서 깨끗한 집을 만나보세요</h2>
				<p class="subtext editable">Clean clean nice nice good job.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
 
